<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gt.lea.usaid.perfiladorlinguistico">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".NavigationMenu"
            android:label=  "@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.Pruebas"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".view.Gramatica"></activity>
        <activity android:name=".view.ExpresionOral"></activity>
        <activity android:name=".view.Vocabulario"></activity>
        <activity android:name=".view.SonidosEspecificos"></activity>
        <activity android:name=".view.Comprende"></activity>
        <activity android:name=".view.Interpreta"></activity>
        <activity android:name=".view.Precicion"></activity>

    </application>

</manifest>