<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gt.lea.usaid.perfiladorlinguistico">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logolea"
        android:label="Usaid APL"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".NavigationMenu"
            android:label="Perfil Lingüistico"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.Splash"
            android:label="@string/apllea"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.espanol.Pruebas"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.espanol.Gramatica"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.espanol.ExpresionOral"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.espanol.Vocabulario"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.espanol.SonidosEspecificos"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.evaluacion.Comprension"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.evaluacion.Interaccion"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.guias.GuiaComprensionOral"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.guias.GuiaExpresionOral"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.guias.GuiaGramatica"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.guias.GuiaInteraccionOral"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.guias.GuiaPrecisionOral"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.guias.GuiaSonidosEspecificos"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.guias.GuiaVocabulario"
            android:screenOrientation="landscape" />
        <activity android:name=".view.Creditos" />
        <activity
            android:name=".view.DetalleDeveloper"
            android:screenOrientation="landscape" />
        <activity android:name=".view.EnviarInformacion" />
        <activity android:name=".view.Email"></activity>
        <activity android:name=".Entrevistas">

        </activity>
        <activity
            android:name=".view.kiche.ExpresionOralKiche"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.mam.ExpresionOralMam"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.mam.GramaticaMam"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.kiche.GramaticaKiche"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.mam.SonidosEspecificosMam"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.kiche.SonidosEspecificosKiche"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.kiche.VocabularioKiche"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.mam.VocabularioMam"
            android:screenOrientation="landscape" />
        <activity android:name=".view.evaluacion.Precision"></activity>

    </application>

</manifest>